body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #f4f4f4
}

*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 1468px;
  width: 100%;
  margin: 0 auto;
  padding: 0 34px;

  @media (max-width: 425px) {
    padding: 0 10px;
  }
}

.container-grey {
  max-width: 1468px;
  width: 100%;
  margin: 0 auto;
  padding: 0 34px;
}

.total-price {
  color: $main-color;
  font-weight: bold;
}

